#loginForm {
    width: 40%;
    height: auto;
    margin: 12% 0% 0% 30%; /*top right bottom left*/
}

#loginIcon {
    font-size: 18px;
    margin: 0% 1% 0% 0%; /*top right bottom left*/
}

#usernameIcon,#passwordIcon {
    font-size: 11px;
}

#loginTitle {
    display: inline;
}

#loginRegisterBttns {
    width: 60%;
    margin: 0% 0% 0% 20%; /*top right bottom left*/
}

#loginBttn, #registerBttn {
    font-size: 15px;
    width: 30%;
}

#error {
    background-color: rgba(255, 75, 75, 0.356);
}

#password {
    background-image: url("../../../disc/Assets/Images/passwordIcon.png");
	background-position: left;
    background-repeat: no-repeat;
    padding-left: 40px;
}

