#createListContent {
    width: 70%;
    margin: 3% 0 0 300px;
    height: 625px;
}

.ui.compact.celled.definition.table {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

table thead tr th:first-child {
    border-radius: 0;
}
table tbody tr td.addbuttonColumn:first-child {
    width: 10%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: rgb(77, 133, 49);
    background-color: rgba(190, 255, 183, 0.473);
}
table tbody tr td.addbuttonColumn:first-child:hover {
    background-color: rgba(170, 231, 165, 0.664);
    cursor: pointer;
}
table tbody tr td.removebuttonColumn:first-child {
    width: 10%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: rgb(207, 96, 96);
    background-color: rgba(238, 149, 149, 0.473);
}
table tbody tr td.removebuttonColumn:first-child:hover {
    background-color: rgba(231, 165, 165, 0.664);
    cursor: pointer;
}
table tfoot tr th:first-child {
    text-align: center;
}

#shopIcon {
    font-size: 25px;
    color: black;
    margin: 0 auto 0 auto;
    width: 100%;
}

.ui.buttons {
    margin-left: 300px;
}

.choiceWindow {
    top: 0;
    left: 0;
    z-index: 200;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
}
.ui.raised.segment {
    position: relative;
    margin-top: 15%;
    border-radius: 5px;
    height: 200px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.close.icon {
    height: auto;
}
.close.icon:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#questionandicondiv {
    margin: 2% 0 10px 17%;
    width: 80%;
    height: 80px;
}
.questiondiv {
    float: left;
    width: 70%;
}
.icondiv {
    margin-top: 5%;
    float: left;
}

.ui.header {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0;
}

.help.icon {
    height: auto;
    font-size: 42px;
}

#listnameSave {
    padding-left: 20%;
}
.name {
    height: 34px;
    outline: none;
}
.errorInput {
    height: 34px;
    border-color: red;
    outline: none;
}
.ui.button {
    margin-left: 5px;
}