#registerForm {
    width: 70%;
    height: auto;
    max-height: 80%;
    margin: 4% 0% 0% 300px; /*top right bottom left*/
    overflow-y: auto;
}

#formContent {
    margin-top: 2%;
    overflow-y: auto;
}

#registerBttn {
    margin-top: 3%;
}

#error {
    background-color: rgba(255, 75, 75, 0.356);
}

#kind {
    outline: none;
    overflow: hidden;
    height: auto;
}
#inShop {
    outline: none;
    height: 43px;
}
