#pagecontent {
    height: 651px;
    margin-top: 2%;
}

.content {
    width: 100%;
}

.ui.segment {
    width: 80%;
    height: 150px;
    margin: 0 0 2% 10%;
    position:relative;
    z-index: -100;
}

.ui.horizontal.header.divider {
    position:relative;
    z-index: -100;
}

.ui.buttons {
    margin-left: 10%;
}


