#pagecontent {
    height: 639px;
    margin: 2% 0 0 200px;
}
.noLists {
    text-align: center;
}

.content {
    width: 100%;
}

listitemsContent::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.listitemsContent {
    width: 95%;
    margin: 0 0 0 45px;
    max-height: 125px;
    overflow-y: auto;
}
.ui.segment {
    width: 80%;
    height: 150px;
    margin: 0 0 2% 10%;
}

.ui.horizontal.header.divider {
    margin: 0 20% 20px 20%;
    z-index: -100;
}

.ui.buttons {
    margin-left: 300px;
}

.ui.top.left.attached.label:hover {
    cursor: pointer;
    background-color: rgb(194, 194, 194);
}
.ui.bottom.left.attached.label {
    text-align: center;
    background-color: rgb(197, 64, 64);
    width: 46px;
}
.ui.bottom.left.attached.label:hover {
    cursor: pointer;
    background-color: rgba(235, 114, 114, 0.801);
    text-align: center;
}

.trash.icon {
    margin: 0;
    color: white;
}

.ui.divided.relaxed.horizontal.list {
    width: 100%;
}
.ui.horizontal.relaxed.list>.item:not(:first-child) {
    padding-left: 5px;
}
.ui.divided.relaxed.horizontal.list .item {
    float: left;
    width: 150px;
    margin-bottom: 4px;
}

#error {
    background-color: rgba(255, 75, 75, 0.356);
}

.choiceWindow {
    top: 0;
    left: 0;
    z-index: 200;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
}
.ui.raised.segment {
    position: relative;
    margin-top: 15%;
    border-radius: 5px;
    height: 200px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.close.icon {
    height: auto;
}
.close.icon:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#questionandicondiv {
    margin: 2% 0 10px 17%;
    width: 80%;
    height: 80px;
}
.questiondiv {
    float: left;
    width: 70%;
}
.icondiv {
    margin-top: 5%;
    float: left;
}

.ui.header {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0;
}

.help.icon {
    height: auto;
    font-size: 42px;
}

#listnameSave {
    padding-left: 20%;
}
.name {
    height: 34px;
    outline: none;
}
.errorInput {
    height: 34px;
    border-color: red;
    outline: none;
}
.ui.button {
    margin-left: 5px;
}


