.choiceWindow {
    top: 0;
    left: 0;
    z-index: 200;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
}
.ui.raised.segment {
    position: relative;
    margin-top: 15%;
    border-radius: 5px;
    height: 300px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e5e5e5;
}

#questionandicondiv {
    margin: 10% 0 0 10%;
    width: 80%;
    height: 125px;
}
.questiondiv {
    float: left;
}
.icondiv {
    float: right;
}

.ui.header {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0;
}

.group.icon {
    font-size: 70px;
    margin: 25% 0 0 0;
}

#choiceBttns {
    margin: 0 0 0 10%;
    width: 80%;
}
#bttnYes {
    text-align: center;
    width: 48%;
}
#bttnNo {
    text-align: center;
    width: 48%;
}

#registerForm {
    width: 55%;
    height: auto;
    max-height: 80%;
    margin: 6% 0% 0% 22.5%; /*top right bottom left*/
    overflow-y: auto;
}

#formContent {
    margin-top: 5%;
    overflow-y: auto;
}

#registerBttn {
    margin-top: 3%;
}

#error {
    background-color: rgba(255, 75, 75, 0.356);
}

#email {
    background-image: url("../../../disc/Assets/Images/emailIcon.png");
	background-position: left;
    background-repeat: no-repeat;
    padding-left: 40px;
}
#password {
    background-image: url("../../../disc/Assets/Images/passwordIcon.png");
	background-position: left;
    background-repeat: no-repeat;
    padding-left: 40px;
}
