<div id="allItemsContent">
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th colspan="3">
          <p>ALL ITEMS</p>
          <input type="text" placeholder="search" class="searchBox" #searchValue (input)="filterItems(searchValue.value)"/>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of searchItems; let i = index">
        <td>{{item.productname}}</td>
        <td>{{item.mark}}</td>
        <td class="right aligned collapsing">{{item.kind}}</td>
      </tr>
    </tbody>
  </table>
</div>