@import "../node_modules/semantic-ui/dist/semantic.min.css";

html{
    overflow: hidden;
}

body {
    color: black;
    background-image: -webkit-radial-gradient(center center, circle cover,
     rgb(247, 251, 252) 0%, rgb(170, 170, 170) 100%);
}