<form class="ui large form segment" id="loginForm">
  <div class="field">
    <i class="bordered inverted black users icon" id="loginIcon"></i>
    <h1 class="ui header" id="loginTitle">Login</h1>
  </div>
  <div class="field">
    <label for="name"><i class="home icon" id="usernameIcon"></i>Username:</label> 
    <input id="name" placeholder="example">
  </div>
  <div class="field">
    <label for="password"><i class="privacy icon" id="passwordIcon"></i>Password:</label> 
    <input id="password" type="password">
  </div>
  <div class="ui buttons" id="loginRegisterBttns" >
    <button class="ui button" id="loginBttn">Log in</button>
    <div class="or"></div>
    <button class="ui blue button" id="registerBttn" (click)="login()">Register</button>
  </div>
</form>
