<div class="header"><div class="logo"></div></div>
<div class="navmenu">
  <div class="ui vertical demo menu">
    <a class="item {{showCreateList}}" (click)="showCreateListBoard()">
        Create new list
    </a>
    <!-- <a class="item" (click)="showAllItemsBoard()">
        List
      <div class="ui label">0</div>
    </a> -->
    <a class="item {{showMyLists}}" (click)="showMyListsBoard()">
        My personal lists
      <div class="ui label">1</div>
    </a>
    <a class="item {{showAllItems}}" (click)="showAllItemsBoard()">
        All items
    </a>
  </div>
  <div [routerLink]="['/login']" class="logout">
    <a>Afmelden</a>
  </div>
</div>

<div *ngIf="createList">
  <app-createlist></app-createlist>
</div>
<div *ngIf="allItems">
  <app-allitems></app-allitems>
</div>
<div *ngIf="myLists">
  <app-mylists></app-mylists>
</div>