<div class="navmenu">
  <div class="ui three item menu" id="mainboardMenu">
    <a class="item {{showCreateList}}" (click)="showCreateListBoard()">
      Create new list
    </a>
    <a class="item {{showAllItems}}" (click)="showAllItemsBoard()">
      All items
    </a>
    <a class="item {{showMyLists}}" (click)="showMyListsBoard()">
      My personal lists
      <div class="floating ui teal label">2</div>
    </a>
  </div>
</div>

<div style="height:95px;position:relative;z-index: -100;"></div>
<div *ngIf="createList">
  <app-createlist></app-createlist>
</div>
<div *ngIf="allItems">
  <app-allitems></app-allitems>
</div>
<div *ngIf="myLists">
  <app-mylists></app-mylists>
</div>